<mat-card class="apropos">
    <h2>A propos</h2>

    <h3>
        Qui sommes-nous ?
    </h3>

    <!-- <small>Version actuelle : {{ version }}</small> -->

    <ul>
        <li>
            <p class="text">
            Nous nous appelons Hmaied, Corentin et Khoi et sommes élèves-ingénieurs en
            Informatique et Electronique des Systèmes Embarqués à Polytech Grenoble.
            </p>
        </li>
    </ul>

    <h3>
      Notre projet
    </h3>
    <ul>
        <li>
            <p class="text">
              Le développement de l'interface web Perret Kids s'inscrit dans le cadre de notre projet de fin d'études.
              Nous avons pour ambition de faire découvrir les notions de la programmation aux plus jeunes en s'appuyant
              sur une interface colorée, attractive et ludique. Cette interface de contrôle permet de gérer l'illumination
              d'une maquette de la tour Perret, monument emblématique de la ville de Grenoble.
            </p>
        </li>
    </ul>

    <h3>
      Remerciements
    </h3>
    <ul>
        <li>
            <p class="text">
                Nous tenons vivement à remercier Valentin Saunier, ancien étudiant en IUT Informatique,
                qui a accepté de nous laisser reprendre son interface pour l'adapter aux élèves d'écoles
                primaires. Nous remercions également Clarisse, Lucas et Henrique qui étaient sur ce projet
                l'an dernier. Enfin, nous adressons tous nos remerciements à notre encadrant Monsieur Sylvain Toru,
                Professeur agrégé à Polytech Grenoble ainsi qu'à Monsieur Jean-Luc Amalberti, enseignant à l'IUT1 de Grenoble.
            </p>
        </li>
    </ul>


</mat-card>
