.markers {
  margin-left: 110px;
  height: 50px;
  display: flex;
  flex-direction: row;
}

.marker {
  position: relative;
  height: 100%;
  width: 3px;
  background: #FF9800;

  &.move {
    background: blueviolet;
  }

  &.saved {
    cursor: pointer;

    &:hover {
      background: #d50000;
      width: 5px;
    }
  }
}
