//module size
$moduleHeight: 7em;
$moduleHeightResponsive: 77px;
$moduleWidth: 100px;

//responsive width
$break-tablet: 768px;
$break-smartphone: 480px;
$break-smallHeight: 860px;

//colors
$red: #d50000;
$gray: rgba(121, 121, 121, 0.67);
$green: #00c853;
$purple: #aa00ff;

$text: white;
$backgroundText: rgba(0, 0, 0, 0.6);
